<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}MAKE ANOTHER{{else}}EAT IT{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
